#header {
  height: 50px;
  background-color: #f70202;
  position: relative;
}
#header > .logo {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
#header > .logo > img {
  width: 186px;
  height: 25px;
}
#header > .app {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
#header > .app > img {
  width: 34px;
  height: 34px;
}
